thead {
    border: 2px;
}

table {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    margin: auto;
}

th {
    background-color: rgba(215, 63, 9, 0.81);
    padding: 10px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
}

#body-container {
    height: 100%;
}
#logo-container {
    width:50%;
    height: 100%;
    background-color: rgb(215, 63, 9);
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
}

img{
    position: absolute;
    width:auto;
    height: auto;
    top: 40%;
}


#table-container {
    width: 50%;
    height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    text-align: center;
    justify-content: center;
    background-color: beige;
}

tr {
    background-color: white;  
}

td {
    padding: 7px;
    vertical-align:middle;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
}
